body {
    font-family: verdana;
}

h1 {
    margin-top: 20px; /* Adjust as needed */
    text-align: center;
}

.topbox{
    background-color: #B01114;
    color: white;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    border-bottom: 2px solid black;
}

  
