<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cave Queue</title>
</head>
<body>
    <div class="topbox">
        <h1>Welcome to the CAVE</h1>
    </div>
    <div class="row">
        <div class="col-sm-3" style="text-align:center; background-color: #B01114; height: 100vh; color: white;">
            <br></br>
            <br></br>
            <br></br>
            <h2>Haven't signed in yet?</h2>
            <br></br>
            <a href="https://forms.gle/YL14kWGLV7bRdm5V9">
                <img src="{{ url_for('static', filename='Images/frame.png') }}" alt="QR Code">
            </a>
            <br></br>
            <p>Scan to get yourself onto the queue!</p>
        </div>
        <div class="col-sm-8" style="text-align: center;">
            <h2>Queue</h2>
            <p>________________________________________</p>
            <l>
                {% for ticket in tickets %}
                    <p>{{ ticket.c_value }}</p>
                {% endfor %}
            </l>
        </div> 
    </div>
</body>
<script type="text/javascript">
    setInterval('window.location.reload()', 60000);
</script>
</html>
