<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/CSLlogo.png') }}" type="image/jpg">
    <title>CSL Queue</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Section: Sign-in Area -->
            <div class="col-sm-4 left-section">
                <div class="welcome-box">
                    <h1 class="welcome-text">Welcome to the</h1>
                    <div class="csl-logo">
                        <span class="csl-text">CSL</span>
                        <img src="{{ url_for('static', filename='Images/CSLlogo.png') }}" alt="Coffee Logo" class="coffee-logo">
                    </div>
                </div>
                <h3>Haven't signed in yet?</h3>
                <a href="https://forms.gle/YL14kWGLV7bRdm5V9">
                    <img src="{{ url_for('static', filename='Images/QRCode.png') }}" alt="QR Code" class="qr-code">
                </a>
                <p>Scan the QR code or sign in using: <br>https://tinyurl.com/codingandsocial</p>
            </div>
            <!-- Right Section: Queue Area -->
            <div class="col-sm-8 right-section">
                <h2>Queue</h2>
                <hr class="queue-divider">
                <div class="queue-list">
                    {% for ticket in tickets %}
                    <div class="queue-card">
                        <p>{{ ticket.c_value }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="loading" class="loading"></div>
</body>

<script type="text/javascript">
    function refreshPage() {
        document.getElementById('loading').style.display = 'block';
        setTimeout(function () {
            window.location.reload();
        }, 500); // Delay reload by 500ms to show loading icon
    }
    setInterval(refreshPage, 30000);
</script>

</html>
